In [ ]:
lista = ["Jonas","Jessica","Alberto","Umberto"]

for n in lista:
  if n.startswith("J"):
    print(n)

Jonas
Jessica

Exercício 1

In [ ]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

soma = sum(num)
soma

55

Exercício 2

In [ ]:
num = [1, 2, 3, 4]

num.append(5)
num

[1, 2, 3, 4, 5]

Exercício 3

In [ ]:
num = [1, 2, 3, 4]

num.pop(-1)
num

[1, 2, 3]

Exercício 4

In [ ]:
num = [1, 2, 3, 4]

if 4 in num:
  print("O número 4 está presente")

O número 4 está presente

Exercício 5

In [ ]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
pares = []

for n in num:
  if n % 2 == 0:
    pares.append(n)
pares

[2, 4, 6, 8, 10]

Exercício 6

In [ ]:
nomes = ["Ana", "Alex", "Beni", "Ben", "Caio"]

for n in nomes:
  print(n)

Ana
Alex
Beni
Ben
Caio

Exercício 7

In [ ]:
strings = ["gato", "cachorro", "gato", "pato", "cachorro", "coelho", "gato"]
contador = 0

for s in strings:
    if s == "gato":
      contador += 1
print(f'A palavra "gato" apareceu {contador} na lista')

A palavra "gato" apareceu 3 na lista

Exercício 8

In [ ]:
num = [1, 2, 3, 4, 5]

maximo = max(num)
maximo

5

Exercício 9

In [ ]:
num = [1, 2, 3, 4, 5]

num.clear()
num

[]

Exercício 10

In [ ]:
num = [3, 7, 1, 8, 2, 9, 6, 4, 10, 5]

num.sort()
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Exercício 11

In [ ]:
num = [1, 2, 3, 4, 5]

num[1] = 100
num

[1, 100, 3, 4, 5]

Exercício 12

In [ ]:
num = [1, 2, 3, 4, 5]

num[::-1]

[5, 4, 3, 2, 1]

Exercício 13

In [ ]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
impares = []

for n in num:
  if n % 2 == 1:
    impares.append(n)
impares

[1, 3, 5, 7, 9]

Exercício 14

In [ ]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]

resultado = lista1 + lista2

print(resultado)

Exercício 15

In [ ]:
dias = ["domingo", "segunda-feira", "terça-feira", "quarta-feira", "quinta-feira", "sexta-feira", "sábado"]

dias[2]

'terça-feira'

Exercício 16

In [ ]:
nomes = ["Ana", "Alex", "Beni", "Ben", "Caio"]

for n in nomes:
  if n.startswith("A"):
    print(n)

Ana
Alex

Exercício 17

In [ ]:
num = [1, 2, 3, 4, 5]
multiplicado = []

for n in num:
  multiplicado.append(n*3)
multiplicado

[3, 6, 9, 12, 15]

Exercício 18

In [ ]:
cores = ["vermelho", "azul", "verde", "amarelo"]

cores[-1]

'amarelo'

Exercício 19

In [ ]:
num = [1, 2, 3]

num.remove(3)
num

[1, 2]

Exercício 20

In [ ]:
num = [1, 2, 3, 4, 5]

maximo = max(num)
minimo = min(num)

print(f"Máximo: {maximo}, Mínimo: {minimo}")

Máximo: 5, Mínimo: 1

Exercício 21

In [ ]:
num = [1, 2, 3]
copia = []

copia = num.copy()
copia

[1, 2, 3]

Exercício 22

In [ ]:
frutas = ["maçã", "banana", "laranja", "manga", "morango", "uva", "abacaxi"]

if "banana" in frutas:
  print("Banana está presente na lista")

Banana está presente na lista

Exercício 23

In [1]:
num = [1, 2, 3, 4, 5]

media = (sum(num))/5
media

3.0

Exercício 24

In [13]:
num_1 = [10, 20, 21]
num_2 = [10, 20, 21]

if len(num_1) == len(num_2):
  print("As listas tem a mesma quantidade de itens!")

for n in range(3):
    # print(num_1[n])
    # print(num_2[n])
    if num_1[n] == num_2[n]:
      print("Os valores são iguais!")
    else:
      print("Os valores são diferentes!")

As listas tem a mesma quantidade de itens!
10
10
Os valores são iguais!
20
20
Os valores são iguais!
21
21
Os valores são iguais!

Exercício 25

In [6]:
num = [1, 2, 3, 4, 5]

escolhido = float(input("Qual número você acha q está na lista? "))

if escolhido in num:
  print("O número está presente na lista")
else:
  print("O número não está presente na lista")

Qual número você acha q está na lista? 12
O número não está presente na lista

Exercício 26

In [8]:
num = [1, 2, 3, 4, 5]

primeiro = num[0]
ultimo = num[-1]

print(f"""
Primeiro valor da lita: {primeiro}
Último valor da lita: {ultimo}
""")

Primeiro valor da lita: 1
Último valor da lita: 5

Exercício 27

In [9]:
nomes = ['Ana', 'Marcos', 'Maria', 'Pedro', 'João']

quantidade = len(nomes)
print(f"Existem {quantidade} elementos dentro da lista nomes")

Existem 5 elementos dentro da lista nomes

Exercício 28

In [11]:
lista = []

for l in range(3):
  oque = input("O que deve ser adicionado a lista? ")
  lista.append(oque)
lista

O que deve ser adicionado a lista? 15
O que deve ser adicionado a lista? luciano hulk
O que deve ser adicionado a lista? pneumoultramicroscopicosilicovulcanoconiotico

['15', 'luciano hulk', 'pneumoultramicroscopicosilicovulcanoconiotico']