In [1]:
import pandas as pd
import numpy as np

# Criar um dataframe com alguns dados faltando
data = {
    "Nome": ["Ana", "Carlos", "Fernanda", "João", "Mariana"],
    "Idade": [28, np.nan, 22, 41, np.nan],
    "Cidade": ["São Paulo", "Rio de Janeiro", np.nan, "Porto Alegre", "Curitiba"],
    "Salário": [3500, 5000, np.nan, 4500, 4000]
}

df = pd.DataFrame(data)

print(df)

       Nome  Idade          Cidade  Salário
0       Ana   28.0       São Paulo   3500.0
1    Carlos    NaN  Rio de Janeiro   5000.0
2  Fernanda   22.0             NaN      NaN
3      João   41.0    Porto Alegre   4500.0
4   Mariana    NaN        Curitiba   4000.0