In [1]:
import pandas as pd

# Acesso do arquivo para ler os seus dados
df = pd.read_excel('dados_ausentes.xlsx') 
print(df)

       Nome  Idade          Cidade  Salário
0       Ana   28.0       São Paulo   3500.0
1    Carlos    NaN  Rio de Janeiro   5000.0
2  Fernanda   22.0             NaN      NaN
3      João   41.0    Porto Alegre   4500.0
4   Mariana    NaN        Curitiba   4000.0

In [2]:
# Verificação de existência dos dados faltantes
print(df.isnull())

    Nome  Idade  Cidade  Salário
0  False  False   False    False
1  False   True   False    False
2  False  False    True     True
3  False  False   False    False
4  False   True   False    False

In [3]:
# Contagem de valores ausentes
print(df.isnull().sum())

Nome       0
Idade      2
Cidade     1
Salário    1
dtype: int64

In [5]:
# Exclusão de linhas com dados ausentes
df_sem_nulos = df.dropna()
print(df_sem_nulos)

   Nome  Idade        Cidade  Salário
0   Ana   28.0     São Paulo   3500.0
3  João   41.0  Porto Alegre   4500.0

In [9]:
# Substituição de dados ausentes
# Cidades - Desconhecido

df['Cidade'].fillna('Desconhecido', inplace=True)
print(df)

       Nome  Idade          Cidade  Salário
0       Ana   28.0       São Paulo   3500.0
1    Carlos    NaN  Rio de Janeiro   5000.0
2  Fernanda   22.0    Desconhecido      0.0
3      João   41.0    Porto Alegre   4500.0
4   Mariana    NaN        Curitiba   4000.0

In [10]:
# Salário - 0 R$

df['Salário'].fillna(0, inplace=True)
print(df)

       Nome  Idade          Cidade  Salário
0       Ana   28.0       São Paulo   3500.0
1    Carlos    NaN  Rio de Janeiro   5000.0
2  Fernanda   22.0    Desconhecido      0.0
3      João   41.0    Porto Alegre   4500.0
4   Mariana    NaN        Curitiba   4000.0

C:\Users\53144094889\AppData\Local\Temp\ipykernel_15708\2530573626.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salário'].fillna(0, inplace=True)

In [11]:
# Idade - Idade média
df['Idade'].fillna(df['Idade'].mean(), inplace=True)
print(df)

       Nome      Idade          Cidade  Salário
0       Ana  28.000000       São Paulo   3500.0
1    Carlos  30.333333  Rio de Janeiro   5000.0
2  Fernanda  22.000000    Desconhecido      0.0
3      João  41.000000    Porto Alegre   4500.0
4   Mariana  30.333333        Curitiba   4000.0

C:\Users\53144094889\AppData\Local\Temp\ipykernel_15708\414499110.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Idade'].fillna(df['Idade'].mean(), inplace=True)