In [ ]:
import pandas as pd

df = pd.read_excel('tablets.xlsx')

## Filtro

In [ ]:
palavras_indesejadas = ["capa", "mesa", "conector", "conversor", "película", "pelicula", "teclado", "suporte", "carregador", "ponta fina", "kit completo", "dock", "case", "proteção", "protetor", "adaptador", "caneta", "lousa", "celular", "iphone", "notebook", "mouse", "capinha", "" "keyboard", "pencil", "pen", "joystick"]

df["item_lower"] = df["item"].str.lower()

# Cria um filtro para manter apenas os produtos que NÃO contêm palavras indesejadas
filtro = ~df["item_lower"].str.contains("|".join(palavras_indesejadas))

# Aplica o filtro
df_filtrado = df[filtro].drop(columns=["item_lower"])  # remove a coluna auxiliar

# Salva apenas os produtos filtrados
df_filtrado.to_excel("tablets_limpo.xlsx", index=False)

print(f"Arquivo 'tablets.xlsx' salvo com sucesso! {len(df_filtrado)} produtos finais.")

## Marca

In [74]:
df = pd.read_excel('tablets_limpo.xlsx')

marcas = ["Samsung", "Samsun", "Apple", "Microsoft", "Lenovo", "Xiaomi", "Amazon", "Kindle", "Positivo", "Dell", "Intel", "Qualcomm", "Kross", "Multi", "TCL", "Zebra", "Redmi", "Ipad", "Galaxy", "P0c0"]

df["marca"] = None

for i, item in enumerate(df["item"]):
    for marca in marcas:
        if marca.lower() in item.lower():
            df.at[i, "marca"] = marca
            break

print(df)

                                                  item        preco    marca
0    Tablet Samsung A9 EE, 64GB, 4G, WiFi, Tela de ...    R$ 999,00  Samsung
1    Tablet Samsung Galaxy Tab A9+, 64GB, 5G, Wi-Fi...  R$ 1.349,10  Samsung
2    Kindle Amazon Modelo 2024 6", 16GB, Tela Antir...    R$ 589,00   Amazon
3    Tablet Samsung Galaxy Tab A9+, 64GB, 4GB RAM, ...  R$ 1.179,00  Samsung
4    Tablet Samsung Galaxy Tab S9 Fe+ 128GB, Proces...  R$ 3.968,06  Samsung
..                                                 ...          ...      ...
282  Tablet Multi Peppa Pig Nb420 Quad-core, 64GB, ...    R$ 559,99    Multi
283  Kindle 16gb Modelo2024, Tela Antirreflexo, Tro...    R$ 580,38   Kindle
284  Tablet 8" Kross Aric 32gb Wi-fi Preto Ke-tb815...    R$ 799,00    Kross
285  Apple Ipad Air 5 Mme63ll/a 256gb / Tela 10.9" ...  R$ 7.781,27    Apple
286  Apple Ipad Air 5 Mm9d3ll/a 64gb / Tela 10.9" -...  R$ 6.932,21    Apple

[287 rows x 3 columns]

In [75]:
df['marca'].str.capitalize().replace({'Samsun': 'Samsung', 'Kindle': 'Amazon', 'Ipad': 'Apple', 'Redmi': 'Xiomi', 'Galaxy': 'Samsung', 'P0c0': 'Xiomi', None: "Não Infomado"})
print(df["marca"])

0      Samsung
1      Samsung
2       Amazon
3      Samsung
4      Samsung
        ...
282      Multi
283     Kindle
284      Kross
285      Apple
286      Apple
Name: marca, Length: 287, dtype: object

## Cor

In [76]:
cores = {
    "Amarela", "Azul", "Bege", "Branca", "Branco", "Café", "Cinza", "Geada", "Laranja", "Marrom", "Preta", "Preto", "Prata", "Rosa", "Roxo", "Uva", "Verde", "Vermelha", "Vermelho",
    "Black", "Blue", "Cyan", "Navy Blue", "Off White", "Orange", "Pink", "Red", "White", "Yellow"
}

df['cor'] = None

for i, item in enumerate(df["item"]):
    for cor in cores:
        if cor.lower() in item.lower():
            df.at[i, "cor"] = cor
            break

print(df)

                                                  item        preco    marca  \
0    Tablet Samsung A9 EE, 64GB, 4G, WiFi, Tela de ...    R$ 999,00  Samsung
1    Tablet Samsung Galaxy Tab A9+, 64GB, 5G, Wi-Fi...  R$ 1.349,10  Samsung
2    Kindle Amazon Modelo 2024 6", 16GB, Tela Antir...    R$ 589,00   Amazon
3    Tablet Samsung Galaxy Tab A9+, 64GB, 4GB RAM, ...  R$ 1.179,00  Samsung
4    Tablet Samsung Galaxy Tab S9 Fe+ 128GB, Proces...  R$ 3.968,06  Samsung
..                                                 ...          ...      ...
282  Tablet Multi Peppa Pig Nb420 Quad-core, 64GB, ...    R$ 559,99    Multi
283  Kindle 16gb Modelo2024, Tela Antirreflexo, Tro...    R$ 580,38   Kindle
284  Tablet 8" Kross Aric 32gb Wi-fi Preto Ke-tb815...    R$ 799,00    Kross
285  Apple Ipad Air 5 Mme63ll/a 256gb / Tela 10.9" ...  R$ 7.781,27    Apple
286  Apple Ipad Air 5 Mm9d3ll/a 64gb / Tela 10.9" -...  R$ 6.932,21    Apple

       cor
0     None
1     None
2    Preta
3     None
4    Cinza
..     ...
282  Verde
283  Preto
284  Preto
285   None
286   Rosa

[287 rows x 4 columns]

In [77]:
df['cor'].str.capitalize().replace({ "Black": "Preto", "Blue": "Azul", "Cyan": "Ciano", "Navy Blue": "Azul marinho", "Off White": "Branco gelo", "Orange": "Laranja", "Pink": "Rosa", "Red": "Vermelho", "White": "Branco", "Yellow": "Amarelo", None: "Não Infomado"
})

0      Não Infomado
1      Não Infomado
2             Preta
3      Não Infomado
4             Cinza
           ...
282           Verde
283           Preto
284           Preto
285    Não Infomado
286            Rosa
Name: cor, Length: 287, dtype: object

## Polegadas

In [78]:
polegadas_ = [
    '6"', '6.8"', '7"', '7.0"', '7.9"', '8.0"', '8.3"', '8.4"', '8.7"', '8.9"',
    '9"', '9.0"', '9.7"',
    '10"', '10.0"', '10.1"', '10.2"', '10.3"', '10.4"', '10.5"', '10.6"', '10.61"', '10.8"', '10.9"',
    '11"', '11.0"', '11.2"', '11.5"', '11.6"',
    '12"', '12.0"', '12.3"', '12.4"', '12.6"', '12.9"',
    '13"', '13.0"', '13.3"',
    '6,8"', '7,0"', '7,9"', '8,0"', '8,3"', '8,4"', '8,7"', '8,9"',
    '9,0"', '9,7"',
    '10,0"', '10,1"', '10,2"', '10,3"', '10,4"', '10,5"', '10,6"', '10,8"', '10,9"',
    '11,0"', '11,2"', '11,5"', '11,6"',
    '12,0"', '12,3"', '12,4"', '12,6"', '12,9"',
    '13,0"', '13,3"',
    '6 polegadas', '6.0 polegadas', '6.8 polegadas', '7 polegadas', '7.0 polegadas', '7.9 polegadas', '8 polegadas', '8.0 polegadas', '8.3 polegadas', '8.4 polegadas', '8.7 polegadas', '8.9 polegadas',
    '9 polegadas','9.0 polegadas', '9.7 polegadas',
    '10 polegadas', '10.0 polegadas', '10.1 polegadas', '10.2 polegadas', '10.3 polegadas', '10.4 polegadas', '10.5 polegadas', '10.6 polegadas', '10.8 polegadas', '10.9 polegadas',
    '11 polegadas', '11.0 polegadas', '11.2 polegadas', '11.5 polegadas', '11.6 polegadas',
    '12 polegadas', '12.0 polegadas', '12.3 polegadas', '12.4 polegadas', '12.6 polegadas', '12.9 polegadas',
    '13 polegadas', '13.0 polegadas', '13.3 polegadas'
]

df['polegadas'] = None

for i, item in enumerate(df["item"]):
    for polegadas in polegadas_:
        if polegadas.lower() in item.lower():
            df.at[i, "polegadas"] = polegadas
            break

print(df)

                                                  item        preco    marca  \
0    Tablet Samsung A9 EE, 64GB, 4G, WiFi, Tela de ...    R$ 999,00  Samsung
1    Tablet Samsung Galaxy Tab A9+, 64GB, 5G, Wi-Fi...  R$ 1.349,10  Samsung
2    Kindle Amazon Modelo 2024 6", 16GB, Tela Antir...    R$ 589,00   Amazon
3    Tablet Samsung Galaxy Tab A9+, 64GB, 4GB RAM, ...  R$ 1.179,00  Samsung
4    Tablet Samsung Galaxy Tab S9 Fe+ 128GB, Proces...  R$ 3.968,06  Samsung
..                                                 ...          ...      ...
282  Tablet Multi Peppa Pig Nb420 Quad-core, 64GB, ...    R$ 559,99    Multi
283  Kindle 16gb Modelo2024, Tela Antirreflexo, Tro...    R$ 580,38   Kindle
284  Tablet 8" Kross Aric 32gb Wi-fi Preto Ke-tb815...    R$ 799,00    Kross
285  Apple Ipad Air 5 Mme63ll/a 256gb / Tela 10.9" ...  R$ 7.781,27    Apple
286  Apple Ipad Air 5 Mm9d3ll/a 64gb / Tela 10.9" -...  R$ 6.932,21    Apple

       cor    polegadas
0     None           7"
1     None          11"
2    Preta           6"
3     None          11"
4    Cinza        12.4"
..     ...          ...
282  Verde  7 polegadas
283  Preto         None
284  Preto         None
285   None           9"
286   Rosa           9"

[287 rows x 5 columns]

In [79]:
df['polegadas'] = df['polegadas'].str.capitalize().replace({
    '7 polegadas': '7"', '8 polegadas': '8"', '10.9 polegadas': '10.9"',
    '6,8"': '6.8"', '7,0"': '7.0"', '7,9"': '7.9"', '8,0"': '8.0"', 
    '8,3"': '8.3"', '8,4"': '8.4"', '8,7"': '8.7"', '8,9"': '8.9"',
    '9,0"': '9.0"', '9,7"': '9.7"', '10,0"': '10.0"', '10,1"': '10.1"',
    '10,2"': '10.2"', '10,3"': '10.3"', '10,4"': '10.4"', '10,5"': '10.5"',
    '10,6"': '10.6"', '10,8"': '10.8"', '10,9"': '10.9"', '11,0"': '11.0"',
    '11,2"': '11.2"', '11,5"': '11.5"', '11,6"': '11.6"',
    '12,0"': '12.0"', '12,3"': '12.3"', '12,4"': '12.4"', '12,6"': '12.6"',
    '12,9"': '12.9"', '13,0"': '13.0"', '13,3"': '13.3"', '10.61"': '10.6"', None: "Não Infomado"
})

## Armazenamento

In [80]:
giga = [
    '3TB', '2TB', '1TB', '512GB', '256GB', '128GB', 
    '64GB', '32GB', '16GB', '12GB', '8GB', '6GB', '4GB',
    '3 TB', '2 TB', '1 TB', '512 GB', '256 GB', '128 GB', 
    '64 GB', '32 GB', '16 GB', '12 GB', '8 GB', '6 GB', '4 GB'
]

df['armazenamento'] = None

for i, item in enumerate(df["item"]):
    for armazenamento in giga:
        if armazenamento.lower() in item.lower():
            df.at[i, "armazenamento"] = armazenamento
            break

print(df)

                                                  item        preco    marca  \
0    Tablet Samsung A9 EE, 64GB, 4G, WiFi, Tela de ...    R$ 999,00  Samsung
1    Tablet Samsung Galaxy Tab A9+, 64GB, 5G, Wi-Fi...  R$ 1.349,10  Samsung
2    Kindle Amazon Modelo 2024 6", 16GB, Tela Antir...    R$ 589,00   Amazon
3    Tablet Samsung Galaxy Tab A9+, 64GB, 4GB RAM, ...  R$ 1.179,00  Samsung
4    Tablet Samsung Galaxy Tab S9 Fe+ 128GB, Proces...  R$ 3.968,06  Samsung
..                                                 ...          ...      ...
282  Tablet Multi Peppa Pig Nb420 Quad-core, 64GB, ...    R$ 559,99    Multi
283  Kindle 16gb Modelo2024, Tela Antirreflexo, Tro...    R$ 580,38   Kindle
284  Tablet 8" Kross Aric 32gb Wi-fi Preto Ke-tb815...    R$ 799,00    Kross
285  Apple Ipad Air 5 Mme63ll/a 256gb / Tela 10.9" ...  R$ 7.781,27    Apple
286  Apple Ipad Air 5 Mm9d3ll/a 64gb / Tela 10.9" -...  R$ 6.932,21    Apple

       cor     polegadas armazenamento
0     None            7"          64GB
1     None           11"          64GB
2    Preta            6"          16GB
3     None           11"          64GB
4    Cinza         12.4"         128GB
..     ...           ...           ...
282  Verde            7"          64GB
283  Preto  Não Infomado          16GB
284  Preto  Não Infomado          32GB
285   None            9"         256GB
286   Rosa            9"          64GB

[287 rows x 6 columns]

In [81]:
df['armazenamento'].str.upper().replace({ '3 TB': '3TB', '2 TB': '2TB', '1 TB': '1TB', '512 GB': '512GB', '256 GB': '256GB', '128 GB': '128GB', 
    '64 GB': '64GB', '32 GB': '32GB', '16 GB': '16GB', '12 GB': '12GB', '8 GB': '8GB', '6 GB': '6GB', '4 GB': '4GB', None: "Não Infomado"})

0       64GB
1       64GB
2       16GB
3       64GB
4      128GB
       ...
282     64GB
283     16GB
284     32GB
285    256GB
286     64GB
Name: armazenamento, Length: 287, dtype: object

## RAM

In [82]:
ram_ = [
    '32GB RAM', '16GB RAM', '12GB RAM', '8GB RAM', '6GB RAM', '4GB RAM',
    '32 GB RAM', '16 GB RAM', '12 GB RAM', '8 GB RAM', '6 GB RAM', '4 GB RAM'
]

df['ram'] = None

for i, item in enumerate(df["item"]):
    for ram in ram_:
        if ram.lower() in item.lower():
            df.at[i, "ram"] = ram
            break

print(df)

                                                  item        preco    marca  \
0    Tablet Samsung A9 EE, 64GB, 4G, WiFi, Tela de ...    R$ 999,00  Samsung
1    Tablet Samsung Galaxy Tab A9+, 64GB, 5G, Wi-Fi...  R$ 1.349,10  Samsung
2    Kindle Amazon Modelo 2024 6", 16GB, Tela Antir...    R$ 589,00   Amazon
3    Tablet Samsung Galaxy Tab A9+, 64GB, 4GB RAM, ...  R$ 1.179,00  Samsung
4    Tablet Samsung Galaxy Tab S9 Fe+ 128GB, Proces...  R$ 3.968,06  Samsung
..                                                 ...          ...      ...
282  Tablet Multi Peppa Pig Nb420 Quad-core, 64GB, ...    R$ 559,99    Multi
283  Kindle 16gb Modelo2024, Tela Antirreflexo, Tro...    R$ 580,38   Kindle
284  Tablet 8" Kross Aric 32gb Wi-fi Preto Ke-tb815...    R$ 799,00    Kross
285  Apple Ipad Air 5 Mme63ll/a 256gb / Tela 10.9" ...  R$ 7.781,27    Apple
286  Apple Ipad Air 5 Mm9d3ll/a 64gb / Tela 10.9" -...  R$ 6.932,21    Apple

       cor     polegadas armazenamento      ram
0     None            7"          64GB     None
1     None           11"          64GB  4GB RAM
2    Preta            6"          16GB     None
3     None           11"          64GB  4GB RAM
4    Cinza         12.4"         128GB     None
..     ...           ...           ...      ...
282  Verde            7"          64GB  4GB RAM
283  Preto  Não Infomado          16GB     None
284  Preto  Não Infomado          32GB     None
285   None            9"         256GB     None
286   Rosa            9"          64GB     None

[287 rows x 7 columns]

In [83]:
df['ram'].str.upper().replace({ '32 GB RAM': '32GB RAM', '16 GB RAM': '16GB RAM', '12 GB RAM': '12GB RAM', '8 GB RAM': '8GB RAM', '6 GB RAM': '6GB RAM', '4 GB RAM': '4GB RAM', None: "Não Infomado"})

0      Não Infomado
1           4GB RAM
2      Não Infomado
3           4GB RAM
4      Não Infomado
           ...
282         4GB RAM
283    Não Infomado
284    Não Infomado
285    Não Infomado
286    Não Infomado
Name: ram, Length: 287, dtype: object

In [84]:
df.to_excel('tratado.xlsx', index=False)