## Despesas

In [83]:
import pandas as pd

df = pd.read_excel('despesas.xlsx')

In [84]:
# Ajuste do formato da 'data'
df['data'] = pd.to_datetime(df['data'], unit='ms').dt.strftime('%d-%m-%Y')

In [85]:
# Preenche os valores vazios da coluna 'valor' com a média
df['valor'].fillna(df['valor'].mean(), inplace=True)
df['valor'] = df['valor'].round(2)

C:\Users\53144094889\AppData\Local\Temp\ipykernel_11384\787198718.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['valor'].fillna(df['valor'].mean(), inplace=True)

In [86]:
# Preenche os valores vazios da coluna 'fornecedor' com 'Desconhecido'
df['fornecedor'].fillna('Desconhecido', inplace=True)

C:\Users\53144094889\AppData\Local\Temp\ipykernel_11384\2243495094.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fornecedor'].fillna('Desconhecido', inplace=True)

In [88]:
df['fornecedor'] = df['fornecedor'].str.upper()

# Remove siglas dos nomes das empresas
siglas_para_remover = r'\b(S/A|S\.A\.|S\.A|S A|S\.A\.\s?|ME|MEI|EIRELI|EI|LTDA|Ltda\.|Ltda|EIRELI|EIRELI\.| - | / |CNPJ|FUNDO|ASSOC|S\.R\.L|S.R.L|SA|EI| - |CNPJ|&|\.|:|,|º|,|º)\b'

df['fornecedor'] = df['fornecedor'].str.replace(siglas_para_remover, '', regex=True)
df['fornecedor'] = df['fornecedor'].str.strip('.')
df['fornecedor'] = df['fornecedor'].str.strip()

df['fornecedor'].head(50)

0             TEIXEIRA
1                NUNES
2                MOURA
3               BARROS
4               MENDES
5      DA ROCHA VARGAS
6                   SÁ
7                JESUS
8            RODRIGUES
9               CIRINO
10           RODRIGUES
11                DIAS
12                  SÁ
13            CASSIANO
14      ANDRADE VIEIRA
15        DESCONHECIDO
16        DESCONHECIDO
17               VIANA
18             CARDOSO
19              NOVAES
20    MACHADO CARVALHO
21    ANDRADE E FILHOS
22              BORGES
23           RODRIGUES
24         VASCONCELOS
25             PIMENTA
26             CAMARGO
27                DIAS
28      NOGUEIRA SILVA
29            CALDEIRA
30     VIEIRA E FILHOS
31             DA MATA
32            FERREIRA
33    DA ROCHA PIMENTA
34             DA ROSA
35             FREITAS
36              PASTOR
37            NOGUEIRA
38    ALMEIDA CASSIANO
39             CARDOSO
40         VIEIRA MELO
41               RAMOS
42         ALBUQUERQUE
43          MONTENEGRO
44               NUNES
45        DESCONHECIDO
46             DA CRUZ
47      MACEDO CARDOSO
48        DESCONHECIDO
49               JESUS
Name: fornecedor, dtype: object

In [89]:
df.to_excel('despesas_limpo.xlsx', index=False)

## Orçamento

In [36]:
df_orcamento = pd.read_excel('orcamento.xlsx')

In [40]:
# Padronizando números após a vírgula
df_orcamento['valor_previsto'] = df_orcamento['valor_previsto'].round(2)
df_orcamento['valor_realizado'] = df_orcamento['valor_realizado'].round(2)

# df_orcamento['valor_previsto'].head(11)
# df_orcamento['valor_realizado'].head()

In [41]:
df_orcamento.to_excel('orcamentos_limpo.xlsx', index=False)