Exercício 1

In [ ]:
for d in range(5,51,5):
  print(d)

5
10
15
20
25
30
35
40
45
50


Exercício 2

In [ ]:
for p in range(2,51,2):
  print(p)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50


Exercício 3

In [ ]:
tabuada = int(input("Informe um número para exibir uma tabuada: "))
for t in range(1,11):
  print(f"{tabuada} x {t} = {t* tabuada}")

Informe um número para exibir uma tabuada: 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10


Exercício 4

In [ ]:
soma = 0
for i in range(1, 101):
  soma += i
print(soma)

5050


Exercício 5

In [ ]:
soma = 0
for i in range(5):
    numero = int(input(f"Digite o {i+1}º número: "))
    soma += numero

print(f"A média dos números é igual a {soma / 5:.2f}")


Exercício 6

In [ ]:
for t in range(3,31,3):
  print(t)

3
6
9
12
15
18
21
24
27
30


Exercício 7

In [ ]:
negativos = [-3,-2,-1,0,1,2,3]

for n in negativos:
  if n < 0:
    print(n)

-3
-2
-1


Exercício 8

In [ ]:
piramide = int(input("Informe uma altura para a pirâmide: "))
asteristico = 0

for p in range(1, piramide+1):
  asteristico += 1
  print("*" * asteristico)

Informe uma altura para a pirâmide: 6
*
**
***
****
*****
******


Exercício 9

In [ ]:
for r in range(10, 0, -1):
  print(r)
print("FIM!")

10
9
8
7
6
5
4
3
2
1
FIM!


Exercício 10

In [ ]:
substituir = [-3,-2,-1,0,1,2,3]

for i in range(len(substituir)):
    if substituir[i] < 0:
        substituir[i] = 0

substituir

[0, 0, 0, 0, 1, 2, 3]


Exercício 11

In [ ]:
multiplo = int(input("Informe um número: "))

for m in range(multiplo, multiplo*11, multiplo):
  print(m)

Informe um número: 8
8
16
24
32
40
48
56
64
72
80


Exercício 12

In [ ]:
palavra = input("Digite uma palavra: ")
vogais = "aeiouáéíóúãẽõàâãêôõ"
contador = 0

for p in palavra:
    if p in vogais:
        contador += 1

print("Número de vogais na palavra:", contador)

Digite uma palavra: cabelo
Número de vogais na palavra: 3


Exercício 13

In [ ]:
for d in range(5,51,5):
  print(d)

5
10
15
20
25
30
35
40
45
50


Exercício 14

In [ ]:
valores = [4, 15, 9, 6, 18, 11, 14, 12, 20, 13, 10]
contador = 0

for v in valores:
  if v % 2 == 0:
    contador += 1

print(f"Existem no total dessa lista {contador} números pares")

Existem no total dessa lista 7 números pares


Exercício 15

In [ ]:
palavra = input("Digite uma palavra: ")

invertida = ""

for i in range(len(palavra) - 1, -1, -1):
    invertida += palavra[i]
print(invertida)

Digite uma palavra: abuela
aleuba

Exercício 16

In [ ]:
for im in range(1,21,2):
  print(im)

1
3
5
7
9
11
13
15
17
19


Exercício 17

In [ ]:
piramide = int(input("Informe uma altura para a pirâmide: "))

for p in range(1, piramide+1):
  for q in range(1, p+1):
    print(q, end=" ")
  print()

Informe uma altura para a pirâmide: 6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

Exercício 18

In [ ]:
num = int(input("Digite um número para calcular o fatorial: "))
fatorial = 1
conta = ""

for i in range(num, 0, -1):
    fatorial *= i
    if i == num:
        conta += f"{i}"
    else:
        conta += f" x {i}"

print(f"{num}! = {conta} = {fatorial}")

Digite um número para calcular o fatorial: 7
7! = 7 x 6 x 5 x 4 x 3 x 2 x 1 = 5040

Exercício 19

In [ ]:
frase = input("Informe uma frase sem os seus acentos: ")
letra = input("Agora informe uma letra que apareca algumas vezes na frase: ")
contador = 0

for l in frase:
  if l == letra:
    contador += 1
print(f"Existem {contador} {letra}'s dentro dessa frase")

Informe uma frase sem os seus acentos: Pneumoultramicroscopicossilicovulcanoconiotico
Agora informe uma letra que apareca algumas vezes na frase: o
Existem 9 o's dentro dessa frase