In [ ]:
import pandas as pd

In [11]:
# Carregar um arquivo e exibir as primeiras 5 linhas.

data = pd.read_excel('exercicios.xlsx')
print(data.head())

    Nome  Idade          Cidade  Salário
0   João   28.0       São Paulo   3500.0
1  Maria    NaN  Rio de Janeiro   4500.0
2   José   35.0             NaN      NaN
3    Ana   22.0        Salvador   5000.0
4  Pedro    NaN    Porto Alegre   4800.0

In [12]:
# Verificar se há valores NaN nas colunas do DataFrame.

print(df.isnull())

    Nome  Idade  Cidade  Salário
0  False  False   False    False
1  False   True   False    False
2  False  False    True     True
3  False  False   False    False
4  False   True   False    False
5  False  False   False    False
6  False  False   False    False
7  False  False   False    False

In [15]:
# Substituir os valores NaN de uma coluna por 0.

df['Salário'].fillna(0, inplace=True)
print(df)

      Nome  Idade          Cidade  Salário
0     João   28.0       São Paulo   3500.0
1    Maria    NaN  Rio de Janeiro   4500.0
2     José   35.0             NaN      0.0
3      Ana   22.0        Salvador   5000.0
4    Pedro    NaN    Porto Alegre   4800.0
5      Ana   22.0        Salvador   5000.0
6  Jessica   20.0       São Paulo   3410.0
7   Carlos   35.0    Porto Alegre   2500.0

C:\Users\53144094889\AppData\Local\Temp\ipykernel_36728\1885995575.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salário'].fillna(0, inplace=True)

In [16]:
# Substituir os valores NaN de uma coluna por um valor específico
#  (por exemplo, a média).

df['Idade'].fillna(df['Idade'].mean(), inplace=True)
print(df)

      Nome  Idade          Cidade  Salário
0     João   28.0       São Paulo   3500.0
1    Maria   27.0  Rio de Janeiro   4500.0
2     José   35.0             NaN      0.0
3      Ana   22.0        Salvador   5000.0
4    Pedro   27.0    Porto Alegre   4800.0
5      Ana   22.0        Salvador   5000.0
6  Jessica   20.0       São Paulo   3410.0
7   Carlos   35.0    Porto Alegre   2500.0

C:\Users\53144094889\AppData\Local\Temp\ipykernel_36728\2003790309.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Idade'].fillna(df['Idade'].mean(), inplace=True)

In [ ]:
# Remover todas as linhas que contêm valores NaN em qualquer coluna.

data = data.dropna()

In [ ]:
# Remover todas as linhas que contêm valores NaN em uma coluna específica.

data = data.dropna(subset=['coluna'])

In [ ]:
# Substituir valores NaN de uma coluna com a mediana dessa coluna.

data['coluna'] = data['coluna'].fillna(data['coluna'].median())

In [ ]:
# Substituir valores NaN de uma coluna com o valor de uma outra coluna.

data['coluna1'] = data['coluna1'].fillna(data['coluna2'])

In [ ]:
# Preencher valores NaN com o valor anterior (método de "forwardfill").

data['coluna'] = data['coluna'].fillna(method='ffill')

In [ ]:
# Exercício: Preencher valores NaN com o valor posterior (método de
# "backward fill").

data['coluna'] = data['coluna'].fillna(method='bfill')

In [ ]:
# Alterar todos os valores de uma coluna para maiúsculas.

data['coluna'] = data['coluna'].str.upper()

In [ ]:
# Alterar todos os valores de uma coluna para minúsculas.

data['coluna'] = data['coluna'].str.lower()

In [ ]:
# Remover espaços em branco à esquerda e à direita em uma coluna.

data['coluna'] = data['coluna'].str.strip()

In [ ]:
# Substituir valores de uma coluna com base em um dicionário de
# mapeamento (ex: "São Paulo" para "SP").

mapeamento = {'São Paulo': 'SP', 'Rio de Janeiro': 'RJ'}
data['coluna'] = data['coluna'].replace(mapeamento)

In [ ]:
# Identificar e remover valores duplicados de um DataFrame.

data = data.drop_duplicates()