In [1]:
import pandas as pd

dados = {
    'Nome': ['Aline', 'Beto', 'Cris', 'Daniela'],
    'Idade': [25, 30, 35, 40],
    'Naturalidade': ['SP', 'AM', 'RJ', 'SP']
}

df = pd.DataFrame(dados)
df

      Nome  Idade Naturalidade
0    Aline     25           SP
1     Beto     30           AM
2     Cris     35           RJ
3  Daniela     40           SP

In [2]:
print(df[df['Idade']>30])

      Nome  Idade Naturalidade
2     Cris     35           RJ
3  Daniela     40           SP

In [3]:
print(df[df['Nome']=='Aline'])

    Nome  Idade Naturalidade
0  Aline     25           SP

In [ ]:
print(df.loc[1])